{% load crispy_forms_tags %}
<div class="fieldset-forms panel-group">
	{% for name, set in fieldsets %}
	<div class="fieldset-{{ name }} fieldset panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent=".panel-group" href=".fieldset-{{ name }}-collapse">{{ name }}</a>
			</h4>
		</div>
		
		{{ set.management_form }}
		<ul class="fieldset-items fieldset-{{ name }}-collapse panel-collapse collapse{% if fieldsets_expanded %} in{% elif request.method == "POST" and not set.is_valid %} in{% endif %}">

			{% for set_item in set %}
				<li class="item">
					{% crispy set_item helper %}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
