{% load crispy_forms_tags %}
<form method="post">
	<div class="main-form">
    	{% crispy form helper %}
    </div>

    <div class="fieldset-forms panel-group">
    	{% for name, set in fieldsets.items %}
    	<div class="fieldset-{{ name }} fieldset panel panel-default">
    		<div class="panel-heading">
    			<h4 class="panel-title">
    				<a data-toggle="collapse" data-parent=".panel-group" href=".fieldset-{{ name }}-collapse">{{ name }}</a>
    			</h4>
    		</div>

    		<div class="fieldset-{{ name }}-collapse panel-collapse collapse{% if request.method == "POST" and not set.is_valid %} in{% endif %}">
    			{% crispy set helper %}
    		</div>
    	</div>
    	{% endfor %}
    </div>

    <input type="submit" name="submit" value="Submit" class="btn btn-primary"> 
</form>
